.active{
    background: #005be6;
    color: #fff;
    color: #fff;
    transform: translateY(-3px);
    transition-duration: .5s;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}